* {
  box-sizing: border-box; }

html,
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0; }

h1 {
  text-align: center;
  margin-bottom: 12vh; }

.app__uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 16px; }
  .app__uploader__icon-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .app__uploader__button-area {
    margin-top: 2vh; }

.app__uploader__icon-area__icon {
  filter: hue-rotate(160deg); }

.app__uploader__icon-area__icon-drag {
  filter: hue-rotate(60deg); }

#error-message {
  display: none; }

#process-btn-container {
  display: none; }

#search-container p {
  display: inline; }

.search-container-inactive {
  display: none; }

.search-container-active {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh; }

#app-container {
  padding-left: 10vw;
  padding-right: 10vw; }

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card, .card__unprocessed, .card__loading, .card__processed {
  width: 190px;
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px; }

.card__unprocessed {
  border: 2px solid red; }

.card__loading {
  border: 5px dotted darkgray; }

.card__processed {
  border: none; }

.img {
  width: 100%;
  height: 200px; }

.img-name {
  word-break: break-all; }
